.btn {
  width: 200px;
  border-radius: 6px;
  padding: 16px;
  margin-bottom: 24px;
  background-color: blueviolet;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  border: none;
}

.centered-content{
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 600px;
	margin-top: 70px;
}
.task {
	display: flex;
	align-items: center;
}
.task-link{
	font-size: 19px;
	color: purple;
	margin-left: 24px;
}